html {
    scroll-behavior: smooth;
}
body {
    margin: 0px;
    background-color: powderblue;
}
#marq {
    margin-bottom: 0;
    margin: 0;
}
#img {
    margin-top: 0;
    margin: 0;
}